.label {
    -fx-font-size: 24px;
    -fx-text-fill: #008080;
    -fx-border-insets: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-min-width: 200;
}

#bold {
    -fx-font-weight: bold;
    -fx-text-fill: #80231b;
}

#italic {
    -fx-font-style: italic;
    -fx-text-fill: #148046;
}
